@model SmartLabours.Models.ChangePasswordModel

@{
    ViewBag.Title = "Changepassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="@Url.Content("~/Content/Admin/css/style1.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Admin/css/style.css")" rel="stylesheet" type="text/css" />

  
    <script language="javascript" type="text/javascript">
        function signout() {
            $.get("/Admin/Signout", {}, function (data) {
                if (data == "sucess") {
                    window.location.href = "/Admin";
                }
            });
        }

        function PreviousPage() {
            window.location = "/Smart/Dashboard";
        }


    </script>
    
@* Google Analytics COde  *@
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PTWMKL" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-PTWMKL');</script>
<!-- End here -->

<div class="content">
    <div class="wrapper">
              @using (Html.BeginForm())
              {
                    @Html.ValidationSummary(true)
         
        <div class="continn">
            <fieldset>
                <legend></legend>
                <h3>
                   Change Password
                </h3>
                <div class="clr2">
                </div>
                <div class="error_mesg" id="msShow1" >
                    <b>
                        <label id="lblErrormsg" >
                            @ViewBag.messagealert
                        </label>
                    </b>
                </div>
                <div class="suss_mesg" id="msShow2" >
                    <b>
                        <label id="lblError1" >
                         @TempData["messagealert"]
                        </label>
                    </b>
                </div>
                 <div class="fld_fd">
                        <span style="color: Red; text-align: center;"></span>
                        <dl>
                            <dd>
                                Old Password<span style="color: Red">*</span></dd>
                            <dt>
                                @Html.PasswordFor(m => m.OldPassword)
                                <span style="color: Red">@Html.ValidationMessageFor(m => m.OldPassword)</span>
                            </dt>
                        </dl>
                        <dl>
                            <dd>
                                New Password<span style="color: Red">*</span></dd>
                            <dt>
                                @Html.PasswordFor(m => m.NewPassword)
                                <span style="color: Red">@Html.ValidationMessageFor(m => m.NewPassword)</span>
                            </dt>
                        </dl>
                        <dl>
                            <dd>
                                Confirm Password<span style="color: Red">*</span></dd>
                            <dt>
                                @Html.PasswordFor(m => m.ConfirmPassword)
                                <span style="color: Red">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
                            </dt>
                        </dl>
                        <div class="btn1 btn1-form">
                            <input type="submit" value="Update" />
                            <input type="button" value="Back"  onclick="PreviousPage()"/>
                        </div>
                    </div>
         </fieldset>
        </div>
              }
              
    </div>
</div>


