
@model SmartLabours.Models.TBL_PushNotficationMsg
@{
    ViewBag.Title = "NotificationMsgAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/themes/base/base.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery.ui.autocomplete.css" rel="stylesheet" />
@* Google Analytics COde  *@
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PTWMKL" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-PTWMKL');</script>
<!-- End here -->
<script type="text/javascript">
     //Send to Previous page
    function PreviousPage() {
        window.location = "/PushNotificationMessageMaster/NotificationMessageList";
    }

    function Validate(e) {
        if ($('#Orgname').val() == '') {
            $('#lblOrgError').text('');
            $('#lblOrgError').text('Please Select Organization');
            (e.preventDefault) ? e.preventDefault() : e.returnValue = false;
            return false;
        }
    }

    $(document).ready(function () {


        $("#Orgname").keypress(function (e) {
            //if (!((e.which >= 65 && e.which <= 90) || (e.which >= 97 && e.which <= 122) || e.which == 8 || e.which == 44 || e.which == 39 || e.which == 45 || e.which == 95 || e.which == 38 || e.which == 46 || (e.which >= 48 && e.which <= 57))) {
            //    e.preventDefault();
            //    return false;
            //}
            $('#lblOrgError').text('');
           // return true;

        });


        $("#Orgname").keyup(function (event) {
            if (event.keyCode == 8 || event.keyCode == 46) {
                $('#lblOrgError').text('');
            }
        });

        $('#Orgname').autocomplete({
              source: function (request, response) {
                  $.ajax({
                      url: '@Url.Action("OrgNameAutoComplete", "OrganizationSubAdmin")',
                      dataType: "json",
                      cache: false,
                      delay: 10,
                      type: "get",
                      data: { term: request.term }
                  }).done(function (data) {
                      response(data);
                  });
              },
             change: function (event, ui) {  //CheckOrganizationName
                  if ($('#Orgname').val() != '') {
                      $('#lblOrgError').text('');
                      $.ajax({
                          url: '@Url.Action("CheckOrganizationName", "Organization")',
                          dataType: "json",
                          cache: false,
                          type: "get",
                          data: { OrgName: $('#Orgname').val() },
                          success: function (data) {
                              // debugger
                              if ($('#Orgname').val() == '') {
                                  data = 'Please Select Organization';
                              }
                              if (data != '1') {

                                  $('#lblOrgError').text(data);
                              }
                              else {
                                  $('#lblOrgError').text('');
                              }
                          },
                          error: function (data) {
                              // debugger
                          }
                      });
                  }
                  else
                  {
                      $('#lblOrgError').text('');
                      $('#lblOrgError').text('Please Select Organization');
                  }
              }
          });


        $('#statustrue').change(function () {
               $('#NoteDl').show();
          });

        $('#statusfalse').change(function () {
             $('#NoteDl').hide();

        });



    })
</script>

<div class="content">
    <div class="wrapper">
        <div class="continn">
            <fieldset>
                <legend></legend>
                <h3>
                   Add Message
                </h3>
                <div class="clr2">
                </div>
                <div class="error_mesg" id="msShow1" >
                    <b>
                        <label id="lblErrormsg" >
                            @ViewBag.messagealert
                        </label>
                    </b>
                </div>
                <div class="suss_mesg" id="msShow2" >
                    <b>
                        <label id="lblError1" >
                        </label>
                    </b>
                </div>
                <div class="fld_fd">
                    @using (Html.BeginForm("NotificationMsgAdd", "PushNotificationMessageMaster", FormMethod.Post, new { id = "MessageId", @class = "form-horizontal", enctype = "multipart/form-data", autocomplete = "off" }))
                    {
                        <div>

                            <dl>
                                <dd>
                                    <span style="color:red;padding-right :2px;"> * </span>   Organization 
                                </dd>
                                <dt>
                                    @{
                        if (HttpContext.Current.Session["USERID"].ToString() == "1")
                        {
                            @Html.TextBoxFor(model => model.OrgName, new { maxlength = 35, id = "Orgname" })
                                        @*  @Html.DropDownList("OrgId", (SelectList)ViewBag.GetOrganizationNamelist, "Select", new { @class = "drop_down" })*@
                                        <span class="error">
                                        <label id="lblOrgError" >@ViewBag.OrgAlert</label>
                                  </span>
                        }
                        else
                        {
                            @Html.TextBox("OrgId", (string)ViewBag.GetOrganizationName, new { id = "txtOrgName", disabled = "disabled" })
                        }
                                    }
                                </dt>
                            </dl>


                                      <dl>
                                <dd>
                                    <span style="color:red;padding-right :2px;"> * </span>  Message Name
                                </dd>
                                <dt> 
                                    @Html.TextBoxFor(model => model.MsgName, new { maxlength = 50 })
                                    <span class="error">
                                        @Html.ValidationMessageFor(model => model.MsgName)
                                    </span>
                                </dt>
                            </dl>



                            <dl>
                                <dd>
                                    <span style="color:red;padding-right :2px;"> * </span>   Message
                                </dd>
                                <dt>
                                    @Html.TextAreaFor(model => model.PushMessage, new { maxlength = 500 })
                                    <span class="error">
                                        @Html.ValidationMessageFor(model => model.PushMessage)
                                    </span>
                                </dt>
                            </dl>

                          


                            <dl style="padding-top:7px">
                                <dd>
                                    <span style="color:red;padding-right :2px;"> * </span> Status
                                </dd>
                                <dt>
                                    @Html.RadioButtonFor(model => model.Status, true, new { @checked = true ,@id="statustrue"})
                                    <label>
                                        Active
                                    </label>
                                    @Html.RadioButtonFor(model => model.Status, false, new { @id = "statusfalse" })
                                    <label>
                                        InActive
                                    </label>
                                </dt>
                            </dl>



                            <div style="color:red;float:left" id="NoteDl">
                               <div>
                                    <b> Note :</b>
                                    If you add new message with active status then all other.
                                    <br>
                                    <span style="margin-left:34px"> message in the organization will be deactivated</span>
                                    </div>
                            </div>

                            <div class="btn1 btn1-form">
                               
                                <input type="submit" value="Save" title="Save" onclick="Validate(this);" />
                                <input type="button" value="Back" title="Back" onclick="PreviousPage();" />
                            </div>

                        </div>

                    }
                </div>
            </fieldset>
        </div>
    </div>
</div>
﻿
